<h2>Регистрация</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <label>
        Имя:
        <input type="text" formControlName="name" />
    </label>
    @if (registerForm.controls['name'].invalid && registerForm.controls['name'].touched) {
    <div>
        Имя обязательно
    </div>
    }

    <label>
        Email:
        <input type="email" formControlName="email" />
    </label>
    @if (registerForm.controls['email'].invalid && registerForm.controls['email'].touched) {
    <div>
        Введите корректный email
    </div>
    }

    <label>
        Пароль:
        <input type="password" formControlName="password" />
    </label>
    @if (registerForm.controls['password'].invalid && registerForm.controls['password'].touched) {
    <div>
        Пароль обязателен
    </div>
    }

    <br>
    <label>Роль:</label><br />
    <input type="radio" formControlName="role" value="user" /> User<br />
    <input type="radio" formControlName="role" value="manager" /> Manager<br />
    <input type="radio" formControlName="role" value="admin" /> Admin<br />

    <button type="submit" [disabled]="registerForm.invalid">Зарегистрироваться</button>
</form>

@if (successMessage) {
<div style="color: green;">
    {{ successMessage }}
</div>
}

@if (errorMessage) {
<div style="color: red;">
    {{ errorMessage }}
</div>
}